@model ManagerInvoice.Models.ProgressOrder

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProgressOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PO_ID" />
            <div class="form-group">
                <label asp-for="H_ORDER_NO" class="control-label"></label>
                <input asp-for="H_ORDER_NO" class="form-control" />
                <span asp-validation-for="H_ORDER_NO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="H_ORDER_INT" class="control-label"></label>
                <input asp-for="H_ORDER_INT" class="form-control" />
                <span asp-validation-for="H_ORDER_INT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HISTORY_ID" class="control-label"></label>
                <input asp-for="HISTORY_ID" class="form-control" />
                <span asp-validation-for="HISTORY_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HISTORY_STATUS" class="control-label"></label>
                <input asp-for="HISTORY_STATUS" class="form-control" />
                <span asp-validation-for="HISTORY_STATUS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HISTORY_COMMIT_BY" class="control-label"></label>
                <input asp-for="HISTORY_COMMIT_BY" class="form-control" />
                <span asp-validation-for="HISTORY_COMMIT_BY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HISTORY_CREATED_DATE" class="control-label"></label>
                <input asp-for="HISTORY_CREATED_DATE" class="form-control" />
                <span asp-validation-for="HISTORY_CREATED_DATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
