@model ManagerInvoice.Models.Sector

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Sector</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="H_SECTOR_ID" />
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="H_SECTOR" class="control-label"></label>
                <input asp-for="H_SECTOR" class="form-control" />
                <span asp-validation-for="H_SECTOR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EMAIL" class="control-label"></label>
                <input asp-for="EMAIL" class="form-control" />
                <span asp-validation-for="EMAIL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UPDATE_BY" class="control-label"></label>
                <input asp-for="UPDATE_BY" class="form-control" />
                <span asp-validation-for="UPDATE_BY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CREATED_DATE" class="control-label"></label>
                <input asp-for="CREATED_DATE" class="form-control" />
                <span asp-validation-for="CREATED_DATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UPDATED_DATE" class="control-label"></label>
                <input asp-for="UPDATED_DATE" class="form-control" />
                <span asp-validation-for="UPDATED_DATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
